<%%= render :partial => 'shared/tablecontrols' -%>
<div id="newpath" data-newpath=<%%= new_<%= singular_controller_routing_path %>_path -%>></div>
<div class="container">
	<div class="row">
			<div class = "span12">
				<div class="nonboxy-widget">
	    			<div class="widget-head">
						<h5><%= plural_model_name %></h5>
					</div>
      				<table class="data-tbl-simple table table-bordered">
        			<thead>
						<tr>
	          				<th class="hide">
								Edit Link
							</th>
							<th class="hide">
								Delete Link
							</th>
							<th>
								ID
							</th>
							<% columns.each do |column| -%>
							<th>
							<%= column.name.capitalize -%>
							</th>
							<% end -%>
	        			</tr>
					</thead>
					<tbody>
						<%% @<%= plural_resource_name %>.each do |<%= resource_name %>| -%>
						<tr class="<%%= cycle("odd", "even") %>">
							<td>
								<%%= edit_<%= resource_name %>_path(<%= resource_name %>) -%>
							</td>
							<td>
								<%%= <%= resource_name %>_path(<%= resource_name %>) -%>
							</td>
	          				<td>
					            <%%= <%= resource_name %>.id %>
					        </td>
								<% columns.each do |column| -%>
					        <td>
				            	<%%= <%= resource_name %>.<%= column.name %> %>
				          	</td>
					        	<% end -%>
	        			</tr>
	        			<%% end %>
					</tbody>
      			</table>
	    	</div>
		</div>
	</div>
</div>