<%% content_for :sidebar, render(:partial => 'shared/tablecontrols') -%>
<div id="newpath" data-newpath="new_<%= singular_controller_routing_path %>_path">
<div class="container">
	<div class="row">
			<div class = "span12">
				<div class="nonboxy-widget">
	    			<div class="widget-head">
						<h5><%= plural_model_name %></h5>
					</div>
      				<table class="data-tbl-simple table table-bordered">
        			<thead>
						<tr>
	          				<th class="hide">
								Edit Link
							</th>
							<th class="hide">
								Delete Link
							</th>
							<th class="first">
								<%= columns.first.name.capitalize %>
							</th>
	                    	<th>
								Customer
	          				</th>
	                    	<th>
								Vehicle
							</th>
	          				<th>
								Date of Sale
							</th>
	        			</tr>
					</thead>
					<tbody>
						<tr class="<%= cycle("odd", "even") %>">
							<%% @<%= plural_resource_name %>.each do |<%= resource_name %>| -%>
	          				<td>
					            <%%= <%= resource_name %>.id %>
					        </td>
							<% columns.each do |column| -%>
					        <td>
				            	<%%= link_to <%= resource_name %>.<%= column.name %>, <%= resource_name %>_path(<%= resource_name %>) %>
				          	</td>
					        <% end -%>
	        			</tr>
	        				<%% end %>
					</tbody>
      			</table>
	    	</div>
		</div>
	</div>
</div>